name: Twilog Updater

on:
  push:
  # デバッグ用に手動実行を許可
  workflow_dispatch:
  schedule:
    - cron: "45 8 * * *"

env:
  TZ: Asia/Tokyo
  LANG: ja_JP.UTF-8

jobs:
  setup-chrome:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1
        id: setup-chrome
        with:
          chrome-version: 131
          install-dependencies: true

      - name: Chrome のバージョンとパスを確認
        run: |
          echo "インストールされたChromeのパス: ${{ steps.setup-chrome.outputs.chrome-path }}"

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: npm

      - name: Install NPM packages
        run: npm ci

      - name: run
        run: npm run sync

      # - name: スクリーンショットをアップロード
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: browser-check-screenshot
      #     path: screenshot.png
